@import "tailwindcss";

:root {
    --background: #0a0a0a;
    --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  min-height: 100vh;
  padding: 20px;
  gap: 32px;
}

.post-block {
  padding: 20px;
  margin: 0;
  background: var(--color-background);

  border: 1px solid var(--color-foreground);

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.post-block img {
  border: 1px solid #00d4ff;
  margin: 8px;
  width: 90%;
  max-height: 400px;
  object-fit: contain;
}
.post-block p {
  margin: 0;
  width: 100%;
}

.post-block h1 {
  font-size: 1em;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.363);

  background: linear-gradient(
    90deg,
    #00d4ff,
    #ff00de
  );
  font-weight: 800;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
}

@keyframes textShadowRotate {
  0% {
    text-shadow: -5px 5px 3px rgba(255, 0, 222, 0.5),
                 5px -5px 6px rgba(0, 212, 255, 0.5),
                 5px 5px 10px rgba(0, 255, 127, 0.5);
  }
  33% {
    text-shadow: 0 5px 3px rgba(212, 0, 255, 0.5),
                 0 5px 6px rgba(0, 212, 255, 0.5),
                 -5px 5px 10px rgba(0, 255, 127, 0.5);
  }
  66% {
    text-shadow: -5px 0 3px rgba(255, 0, 222, 0.89),
                 -5px 0 6px rgba(0, 212, 255, 0.5),
                 5px -5px 10px rgba(0, 255, 127, 0.5);
  }
  100% {
    text-shadow: -5px 5px 3px rgba(255, 0, 222, 0.5),
                 5px -5px 6px rgba(0, 212, 255, 0.5),
                 5px 5px 10px rgba(0, 255, 127, 0.5);
  }
}

.post-block h1.title {
  font-size: 4em;
  text-align: right;
  margin-bottom: 20px;
  letter-spacing: 2px;

  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  font-family: sans-serif;
  border: none;

  background: linear-gradient(
    90deg,
    #00d4ff,
    #ff00de
  );

  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 5px 3px rgba(255, 0, 222, 0.5),
               5px 0 20px rgba(0, 212, 255, 0.5),
               5px 5px 30px rgba(0, 255, 127, 0.5);

  animation: textShadowRotate 2s infinite linear;
  transition: text-shadow 0.3s ease-in-out;
}

.background_three
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: -1;
}