body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
canvas {
	position: fixed;
	top: 0;
	left: 0;
}
a {
	font-weight: bold;
	color: #AA1111;
	text-decoration: none;
}
.container {
	position: relative;
	z-index: 1;
	margin: auto;
	width: 100%;
}
.subcontainer {
	background-color: #FFFFFF;
	padding: 0;
	max-width: 800px;
	margin: auto;
	margin-top: 24px;
	margin-bottom: 24px;
	border: 1px solid black;
	box-shadow: 8px 8px 8px black;
	position: relative;
}
.subcontainer.header h1 {
	font-size: 3em;
	margin: 0;
}
.subcontainer h1 {
	margin: 0;
	padding: 8px 16px;
	font-size: 2em;
	border-bottom: 1px solid black;
	text-transform: uppercase;
	box-sizing: content-box;
}
.subcontainer p {
	font-size: 1em;
	text-align: justify;
	margin: 16px;
}
.subcontainer .content {
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	display: flex;
}
.subcontainer .content p {
	flex: 1;
	display: block;
}
.subcontainer .content img.picture {
	margin: 16px;
	box-shadow: 6px 7px 13px 0px grey;
}
.subcontainer .repoLink {
	position: absolute;
	display: block;
	bottom: 8px;
	right: 8px;
	width: 40px;
}