body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
canvas {
	position: fixed;
	top: 0;
	left: 0;
}
.container {
	z-index: 2;
	margin: auto;
	width: 100%;
}
.subcontainer {
	background-color: #FFFFFF;
	opacity: 0.95;
	padding: 0;
	max-width: 800px;
	margin: auto;
	margin-top: 24px;
	margin-bottom: 24px;
}
.subcontainer.header h1 {
	font-size: 3em;
	margin: 0;
}
.subcontainer h1 {
	margin: 0;
	padding: 8px 16px;
	font-size: 2em;
	border-bottom: 1px solid black;
	text-transform: uppercase;
	box-sizing: content-box;
}
.subcontainer p {
	margin: 2px 0;
	font-size: 1em;
}
.subcontainer .content {
	flex-direction: row;
	align-items: center;
	justify-content: center;
	display: flex;

}
.subcontainer .content p {
	flex: 1;
	display: block;
}
.subcontainer .content img.picture {
	width: 300px;
}